<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dublin Bikes Map</title>
     <link rel = stylesheet type = "text/css"
    href = "{{ url_for('static', filename='stylesheets/dublinbikes.css') }}">
    
<!--for local machine, use href = "dublinbikes.css">-->
    
    <!--link to awesomplete stylesheet for autocomplete function-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/awesomplete.css')}}" />
    
    <script src="{{url_for('static', filename='awesomplete.js')}}" async></script>
    <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbXrgdjjw09bdTxFQZlENHvTjYp9QUOCs&libraries=places">
</script> 
</head>
    
<body>
    <header>Dublin Bikes</header>
<!-- div where the user input form will be displayed-->
<div id="userinput">
    <form id="bikesinfo">
        
    Choose Your Station 
    <input id="myinput" data-minchars="1"/><br><br>    
<!--    <input type="text" id='bikestation' data-minchars="1" data-maxitems="200" data-list="completeInput()"><br><br>-->
    <div class="dropdown">
        <button class="dropbtn">I Want To</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="">Get Bike</a>
    <a href="">Return Bike</a>
  </div>
</div>
    </form>
</div>  
    
 <div id="stationmap"></div>   

    
    
<script>
    
    var map;
    function initializeMap() {
    //function to create google map 
    var mapProp = {
        center:new google.maps.LatLng(53.34535,-6.2708991),
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    //create map object
    map=new google.maps.Map(document.getElementById("stationmap"), mapProp);
       
    displayMarker();
       
//  var contentString = ;    
       
//  var infowindow = new google.maps.InfoWindow({
//    content: contentString
//  });
}
google.maps.event.addDomListener(window, 'load', initializeMap);
    //save the JSON file to a variable
    myJsonFile ="{{ url_for('static', filename='json_current_data.json') }}";
        
        var dbBikesData = readTextFile(myJsonFile);
        
        function readTextFile(file){
        //function which
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            var JsonResponse;
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        JsonResponse = parseJson(allText);
                    }
                }
            }
            rawFile.send(null);
            return JsonResponse;
        }
        
        //parse response
        function parseJson(response) {
            var jsonResponse = JSON.parse(response);
            return jsonResponse;
        }
        
        function displayMarker(){
            //function which displays markers for each station
            for (var i = 0; i<dbBikesData.length; i++){
                var marker = new google.maps.Marker({
                    position: {
                        lat: dbBikesData[i]['position']['lat'],
                        lng: dbBikesData[i]['position']['lng']
                    },
                    map: map,
                    title: dbBikesData[i]['address'] + "; available bikes: " + dbBikesData[i]['available_bikes'] + "; empty stands: " + dbBikesData[i]['available_bike_stands'] 
                });
                
                marker.metadata = {type: "point", id: dbBikesData[i]['number']};
                marker.addListener('click', function(){update_values(this.metadata.id)});
            }
        }
    
      
        var input = document.getElementById("myinput");
        //create new awesomplete 
        var awesom = new Awesomplete(input)
        var ranks = [];
        //iterate over the JSON response, and add the names of the bike stations to the array 'ranks'
        for (var i = 0; i < dbBikesData.length; i++){
                 ranks+= dbBikesData[i]['name'] + ","
                };
        console.log(ranks);
        awesom.list = ranks;

</script>    
  
<div id='historic-data-tables' style='border:15px solid red'>Heree Here</div>
    
<script>
    
    var mon_data_freestands;
    var tue_data_freestands;
    var wed_data_freestands;
    var thu_data_freestands;
    var fri_data_freestands;
    var sat_data_freestands;
    var sun_data_freestands;
    
    var mon_data_freebikes;
    var tue_data_freebikes;
    var wed_data_freebikes;
    var thu_data_freebikes;
    var fri_data_freebikes;
    var sat_data_freebikes;
    var sun_data_freebikes;
    
    function update_values(truc) {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_station/"+truc,
                function(data) {
                    mon_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Mon;
                    tue_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Tue;
                    wed_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Wed;
                    thu_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Thurs;
                    fri_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Fri;
                    sat_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Sat;
                    sun_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Sun;
                    
                    mon_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Mon;
                    tue_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Tue;
                    wed_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Wed;
                    thu_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Thurs;
                    fri_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Fri;
                    sat_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Sat;
                    sun_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Sun;
                
                    drawChart();
                    $("#historic-data-tables").html(
                        data.occupancy + "<br>" +
                        data.availability + "<br>" +
                        data.mean_available_stands + "<br>" +
                        data.mean_available_bikes + "<br>")
                });
        }

    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <div id="curve_chart"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      //google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Weekday', 'Available stands', 'test'],
          ['Monday',  mon_data_freestands, mon_data_freebikes],
          ['Tuesday',  tue_data_freestands, tue_data_freebikes],
          ['Wednesday',  wed_data_freestands, wed_data_freebikes],
          ['Thursday',  thu_data_freestands, thu_data_freebikes],
          ['Friday',  fri_data_freestands, fri_data_freebikes],
          ['Saturday',  sat_data_freestands, sat_data_freebikes],
          ['Sunday', sun_data_freestands, sun_data_freebikes]
        ]);

        var options = {
          title: 'Available stands',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    
<footer><br>
    WOLD Enterprises
</footer>    
</body>


</html>
