<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dublin Bikes Map</title>
     <link rel = stylesheet type = "text/css"
    href = "{{ url_for('static', filename='stylesheets/dublinbikes.css') }}">
    
<!--for local machine, use href = "dublinbikes.css">-->
    
    <!--link to awesomplete stylesheet for autocomplete function-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/awesomplete.css')}}" />
    
    <script src="{{url_for('static', filename='awesomplete.js')}}" async></script>
    <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbXrgdjjw09bdTxFQZlENHvTjYp9QUOCs&libraries=places">
</script> 
</head>
    
<body>
    <header>Dublin Bikes</header>
<!-- div where the user input form will be displayed-->
<div id="userinput">
    <form id="bikesinfo">
        
    Choose Your Station 
    <input id="myinput" data-minchars="1"/><br><br>    
<!--    <input type="text" id='bikestation' data-minchars="1" data-maxitems="200" data-list="completeInput()"><br><br>-->
    <div class="dropdown">
        <button class="dropbtn">I Want To</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="">Get Bike</a>
    <a href="">Return Bike</a>
  </div>
</div>
    </form>
</div>  
    
 <div id="stationmap"></div>   

    
    
<script>
    
    var map;
    function initializeMap() {
    //function to create google map 
    var mapProp = {
        center:new google.maps.LatLng(53.34535,-6.2708991),
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    //create map object
    map=new google.maps.Map(document.getElementById("stationmap"), mapProp);
       
    displayMarker();
       
//  var contentString = ;    
       
//  var infowindow = new google.maps.InfoWindow({
//    content: contentString
//  });
}
google.maps.event.addDomListener(window, 'load', initializeMap);
    //save the JSON file to a variable
    myJsonFile ="{{ url_for('static', filename='json_current_data.json') }}";
        
        var dbBikesData = readTextFile(myJsonFile);
        
        function readTextFile(file){
        //function which
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            var JsonResponse;
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        JsonResponse = parseJson(allText);
                    }
                }
            }
            rawFile.send(null);
            return JsonResponse;
        }
        
        //parse response
        function parseJson(response) {
            var jsonResponse = JSON.parse(response);
            return jsonResponse;
        }
    
        function defineMarker(bikes, stands) {
            if (bikes/stands >= 0.7) {
                return "{{url_for('static', filename='greentriangle.png')}}"
            } else if (bikes/stands >= 0.4) {
                return "{{url_for('static', filename='yellowtriangle.png')}}"
            } else {
                return "{{url_for('static', filename='redtriangle.png')}}"
            }
        }
        
        function displayMarker(){
            //function which displays markers for each station
            for (var i = 0; i<dbBikesData.length; i++){
                var marker = new google.maps.Marker({
                    position: {
                        lat: dbBikesData[i]['position']['lat'],
                        lng: dbBikesData[i]['position']['lng']
                    },
                    map: map,
                    icon: defineMarker(dbBikesData[i]['available_bikes'], dbBikesData[i]['bike_stands']),
                    title: dbBikesData[i]['address'] + "; available bikes: " + dbBikesData[i]['available_bikes'] + "; empty stands: " + dbBikesData[i]['available_bike_stands']
                });
                
                //Don't touch this or I seriously throw you under the bus!
                marker.metadata = {type: "point", id: dbBikesData[i]['number']};
                marker.addListener('click', function(){update_values(this.metadata.id)});
            }
        }
    
      
        var input = document.getElementById("myinput");
        //create new awesomplete 
        var awesom = new Awesomplete(input)
        var ranks = [];
        //iterate over the JSON response, and add the names of the bike stations to the array 'ranks'
        for (var i = 0; i < dbBikesData.length; i++){
                 ranks+= dbBikesData[i]['name'] + ","
                };
        //console.log(ranks);
        awesom.list = ranks;

</script>    
  
    
<script>
    
    var mon_data_freestands;
    var tue_data_freestands;
    var wed_data_freestands;
    var thu_data_freestands;
    var fri_data_freestands;
    var sat_data_freestands;
    var sun_data_freestands;
    
    var mon_data_freebikes;
    var tue_data_freebikes;
    var wed_data_freebikes;
    var thu_data_freebikes;
    var fri_data_freebikes;
    var sat_data_freebikes;
    var sun_data_freebikes;
    
    var freestands_at_00;
    var freestands_at_01;
    var freestands_at_02;
    var freestands_at_03;
    var freestands_at_04;
    var freestands_at_05;
    var freestands_at_06;
    var freestands_at_07;
    var freestands_at_08;
    var freestands_at_09;
    var freestands_at_10;
    var freestands_at_11;
    var freestands_at_12;
    var freestands_at_13;
    var freestands_at_14;
    var freestands_at_15;
    var freestands_at_16;
    var freestands_at_17;
    var freestands_at_18;
    var freestands_at_19;
    var freestands_at_20;
    var freestands_at_21;
    var freestands_at_22;
    var freestands_at_23;
    
    var freebikes_at_00;
    var freebikes_at_01;
    var freebikes_at_02;
    var freebikes_at_03;
    var freebikes_at_04;
    var freebikes_at_05;
    var freebikes_at_06;
    var freebikes_at_07;
    var freebikes_at_08;
    var freebikes_at_09;
    var freebikes_at_10;
    var freebikes_at_11;
    var freebikes_at_12;
    var freebikes_at_13;
    var freebikes_at_14;
    var freebikes_at_15;
    var freebikes_at_16;
    var freebikes_at_17;
    var freebikes_at_18;
    var freebikes_at_19;
    var freebikes_at_20;
    var freebikes_at_21;
    var freebikes_at_22;
    var freebikes_at_23;
        
    function update_values(truc) {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_station/"+truc,
                function(data) {
                    mon_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Mon;
                    tue_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Tue;
                    wed_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Wed;
                    thu_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Thurs;
                    fri_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Fri;
                    sat_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Sat;
                    sun_data_freestands = JSON.parse(data.mean_available_stands).available_bike_stands.Sun;
                    
                    mon_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Mon;
                    tue_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Tue;
                    wed_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Wed;
                    thu_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Thurs;
                    fri_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Fri;
                    sat_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Sat;
                    sun_data_freebikes = JSON.parse(data.mean_available_bikes).available_bikes.Sun;
                
                    freestands_at_00 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['00']);
                    freestands_at_01 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['01']);
                    freestands_at_02 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['02']);
                    freestands_at_03 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['03']);
                    freestands_at_04 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['04']);
                    freestands_at_05 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['05']);
                    freestands_at_06 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['06']);
                    freestands_at_07 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['07']);
                    freestands_at_08 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['08']);
                    freestands_at_09 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['09']);
                    freestands_at_10 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['10']);
                    freestands_at_11 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['11']);
                    freestands_at_12 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['12']);
                    freestands_at_13 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['13']);
                    freestands_at_14 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['14']);
                    freestands_at_15 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['15']);
                    freestands_at_16 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['16']);
                    freestands_at_17 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['17']);
                    freestands_at_18 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['18']);
                    freestands_at_19 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['19']);
                    freestands_at_20 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['20']);
                    freestands_at_21 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['21']);
                    freestands_at_22 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['22']);
                    freestands_at_23 = parseFloat(JSON.parse(data.occupancy).available_bike_stands['23']);
                
                    freebikes_at_00 = parseFloat(JSON.parse(data.availability).available_bikes['00']);
                    freebikes_at_01 = parseFloat(JSON.parse(data.availability).available_bikes['01']);
                    freebikes_at_02 = parseFloat(JSON.parse(data.availability).available_bikes['02']);
                    freebikes_at_03 = parseFloat(JSON.parse(data.availability).available_bikes['03']);
                    freebikes_at_04 = parseFloat(JSON.parse(data.availability).available_bikes['04']);
                    freebikes_at_05 = parseFloat(JSON.parse(data.availability).available_bikes['05']);
                    freebikes_at_06 = parseFloat(JSON.parse(data.availability).available_bikes['06']);
                    freebikes_at_07 = parseFloat(JSON.parse(data.availability).available_bikes['07']);
                    freebikes_at_08 = parseFloat(JSON.parse(data.availability).available_bikes['08']);
                    freebikes_at_09 = parseFloat(JSON.parse(data.availability).available_bikes['09']);
                    freebikes_at_10 = parseFloat(JSON.parse(data.availability).available_bikes['10']);
                    freebikes_at_11 = parseFloat(JSON.parse(data.availability).available_bikes['11']);
                    freebikes_at_12 = parseFloat(JSON.parse(data.availability).available_bikes['12']);
                    freebikes_at_13 = parseFloat(JSON.parse(data.availability).available_bikes['13']);
                    freebikes_at_14 = parseFloat(JSON.parse(data.availability).available_bikes['14']);
                    freebikes_at_15 = parseFloat(JSON.parse(data.availability).available_bikes['15']);
                    freebikes_at_16 = parseFloat(JSON.parse(data.availability).available_bikes['16']);
                    freebikes_at_17 = parseFloat(JSON.parse(data.availability).available_bikes['17']);
                    freebikes_at_18 = parseFloat(JSON.parse(data.availability).available_bikes['18']);
                    freebikes_at_19 = parseFloat(JSON.parse(data.availability).available_bikes['19']);
                    freebikes_at_20 = parseFloat(JSON.parse(data.availability).available_bikes['20']);
                    freebikes_at_21 = parseFloat(JSON.parse(data.availability).available_bikes['21']);
                    freebikes_at_22 = parseFloat(JSON.parse(data.availability).available_bikes['22']);
                    freebikes_at_23 = parseFloat(JSON.parse(data.availability).available_bikes['23']);
                                    
                    drawChart();
                    drawChartHour();
                    drawChartHour3h()
                
                });
        }

    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <div id="curve_chart"></div>
    <div id="curve_chart_hour"></div>
    <div id="curve_chart_hour3h"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      //google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Weekday', 'Available stands', 'Available bikes'],
          ['Monday',  mon_data_freestands, mon_data_freebikes],
          ['Tuesday',  tue_data_freestands, tue_data_freebikes],
          ['Wednesday',  wed_data_freestands, wed_data_freebikes],
          ['Thursday',  thu_data_freestands, thu_data_freebikes],
          ['Friday',  fri_data_freestands, fri_data_freebikes],
          ['Saturday',  sat_data_freestands, sat_data_freebikes],
          ['Sunday', sun_data_freestands, sun_data_freebikes]
        ]);

        var options = {
          title: 'Weekly overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
        
    function drawChartHour() {

        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Available stands', 'Available bikes'],
          ['00',  freestands_at_00, freebikes_at_00],
          ['01',  freestands_at_01, freebikes_at_01],
          ['02',  freestands_at_02, freebikes_at_02],
          ['03',  freestands_at_03, freebikes_at_03],
          ['04',  freestands_at_04, freebikes_at_04],
          ['05',  freestands_at_05, freebikes_at_05],
          ['06',  freestands_at_06, freebikes_at_06],
          ['07',  freestands_at_07, freebikes_at_07],
          ['08',  freestands_at_08, freebikes_at_08],
          ['09',  freestands_at_09, freebikes_at_09],
          ['10',  freestands_at_10, freebikes_at_10],
          ['11',  freestands_at_11, freebikes_at_11],
          ['12',  freestands_at_12, freebikes_at_12],
          ['13',  freestands_at_13, freebikes_at_13],
          ['14',  freestands_at_14, freebikes_at_14],
          ['15',  freestands_at_15, freebikes_at_15],
          ['16',  freestands_at_16, freebikes_at_16],
          ['17',  freestands_at_17, freebikes_at_17],
          ['18',  freestands_at_18, freebikes_at_18],
          ['19',  freestands_at_19, freebikes_at_19],
          ['20',  freestands_at_20, freebikes_at_20],
          ['21',  freestands_at_21, freebikes_at_21],
          ['22',  freestands_at_22, freebikes_at_22],
          ['23',  freestands_at_23, freebikes_at_23]
        ]);

        var options = {
          title: 'Hourly overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_hour'));

        chart.draw(data, options);
      }
        
    function drawChartHour3h() {

        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Available stands', 'Available bikes'],
          ['00',  freestands_at_00, freebikes_at_00],
          ['03',  freestands_at_03, freebikes_at_03],
          ['06',  freestands_at_06, freebikes_at_06],
          ['09',  freestands_at_09, freebikes_at_09],
          ['12',  freestands_at_12, freebikes_at_12],
          ['15',  freestands_at_15, freebikes_at_15],
          ['18',  freestands_at_18, freebikes_at_18],
          ['21',  freestands_at_21, freebikes_at_21]
        ]);

        var options = {
          title: '3 hour overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_hour3h'));

        chart.draw(data, options);
      }
        
    
    </script>
    
<footer><br>
    WOLD Enterprises
</footer>    
</body>


</html>
