<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dublin Bikes Map</title>
     <link rel = stylesheet type = "text/css"
    href = "{{ url_for('static', filename='stylesheets/dublinbikes.css') }}">
    
<!--for local machine, use href = "dublinbikes.css">-->
    
    <!--link to awesomplete stylesheet for autocomplete function-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/awesomplete.css')}}" />
    
    <script src="{{url_for('static', filename='awesomplete.js')}}" async></script>
    <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBbXrgdjjw09bdTxFQZlENHvTjYp9QUOCs&libraries=places">
</script> 
</head>
    
<body>
    <header>Dublin Bikes</header>
<!-- div where the user input form will be displayed-->
<div id="userinput">
    <form id="bikesinfo">
        
    Choose Your Station 
    <input id="myinput" data-minchars="1"/><br><br>    
<!--    <input type="text" id='bikestation' data-minchars="1" data-maxitems="200" data-list="completeInput()"><br><br>-->
    <div class="dropdown">
        <button class="dropbtn">I Want To</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="">Get Bike</a>
    <a href="">Return Bike</a>
  </div>
</div>
    </form>
</div>  
    
 <div id="stationmap"></div>   

    
    
<script>
    
    var map;
    function initializeMap() {
    //function to create google map 
    var mapProp = {
        center:new google.maps.LatLng(53.34535,-6.2708991),
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    //create map object
    map=new google.maps.Map(document.getElementById("stationmap"), mapProp);
       
    displayMarker();
       
//  var contentString = ;    
       
//  var infowindow = new google.maps.InfoWindow({
//    content: contentString
//  });
}
google.maps.event.addDomListener(window, 'load', initializeMap);
    //save the JSON file to a variable
    myJsonFile ="{{ url_for('static', filename='json_current_data.json') }}";
        
        var dbBikesData = readTextFile(myJsonFile);
        
        function readTextFile(file){
        //function which
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            var JsonResponse;
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        JsonResponse = parseJson(allText);
                    }
                }
            }
            rawFile.send(null);
            return JsonResponse;
        }
        
        //parse response
        function parseJson(response) {
            var jsonResponse = JSON.parse(response);
            return jsonResponse;
        }
    
        function defineMarker(bikes, stands) {
            if (bikes/stands >= 0.7) {
                return "{{url_for('static', filename='greentriangle.png')}}"
            } else if (bikes/stands >= 0.4) {
                return "{{url_for('static', filename='yellowtriangle.png')}}"
            } else {
                return "{{url_for('static', filename='redtriangle.png')}}"
            }
        }
        
        function displayMarker(){
            //function which displays markers for each station
            for (var i = 0; i<dbBikesData.length; i++){
                var marker = new google.maps.Marker({
                    position: {
                        lat: dbBikesData[i]['position']['lat'],
                        lng: dbBikesData[i]['position']['lng']
                    },
                    map: map,
                    icon: defineMarker(dbBikesData[i]['available_bikes'], dbBikesData[i]['bike_stands']),
                    title: dbBikesData[i]['address'] + "; available bikes: " + dbBikesData[i]['available_bikes'] + "; empty stands: " + dbBikesData[i]['available_bike_stands']
                });
                
                //Don't touch this or I seriously throw you under the bus!
                marker.metadata = {type: "point", id: dbBikesData[i]['number']};
                marker.addListener('click', function(){update_values(this.metadata.id)});
            }
        }
    
      
        var input = document.getElementById("myinput");
        //create new awesomplete 
        var awesom = new Awesomplete(input)
        var ranks = [];
        //iterate over the JSON response, and add the names of the bike stations to the array 'ranks'
        for (var i = 0; i < dbBikesData.length; i++){
                 ranks+= dbBikesData[i]['name'] + ","
                };
        //console.log(ranks);
        awesom.list = ranks;

</script>    
  
    
<script>
    
    var weekly_data_array;
    var hourly_data_array;
    var hourly_data_array;
        
    function update_values(truc) {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_station/"+truc,
                function(data) {
                
                    weekly_data_array = [['Weekday', 'Available stands', 'Available bikes']];
                
                    day_of_week = ["Mon", "Tue", "Wed", "Thurs", "Fri", "Sat", "Sun"]
                    
                    for (var i in day_of_week) {
                        var elem = [day_of_week[i],JSON.parse(data.mean_available_stands).available_bike_stands[day_of_week[i]],JSON.parse(data.mean_available_bikes).available_bikes[day_of_week[i]]];
                        weekly_data_array.push(elem);
                    }
                
                    hourly_data_array = [['Hour', 'Available stands', 'Available bikes']]
                        
                    hours_of_day = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"];
                
                    for (var i in hours_of_day) {
                        var elem = [hours_of_day[i], 
                                    parseFloat(JSON.parse(data.occupancy).available_bike_stands[hours_of_day[i]]),    parseFloat(JSON.parse(data.availability).available_bikes[hours_of_day[i]])];
                        hourly_data_array.push(elem);
                    }
                    
                    hourly3h_data_array = [['Hour', 'Available stands', 'Available bikes']];
                
                    hourly3h = ["00","03","06","09","12","15","18","21"];
                
                    for (var i in hourly3h) {
                        var elem = [hourly3h[i], 
                                    parseFloat(JSON.parse(data.occupancy).available_bike_stands[hourly3h[i]]),
                                    parseFloat(JSON.parse(data.availability).available_bikes[hourly3h[i]])];
                        hourly3h_data_array.push(elem);
                    }
                
                    drawChart();
                    drawChartHour();
                    drawChartHour3h()
                
                });
        }

    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <div id="curve_chart"></div>
    <div id="curve_chart_hour"></div>
    <div id="curve_chart_hour3h"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      //google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(weekly_data_array);

        var options = {
          title: 'Weekly overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
        
    function drawChartHour() {

        var data = google.visualization.arrayToDataTable(hourly_data_array);

        var options = {
          title: 'Hourly overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_hour'));

        chart.draw(data, options);
      }
        
    function drawChartHour3h() {

        var data = google.visualization.arrayToDataTable(hourly3h_data_array);

        var options = {
          title: '3 hour overview',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_hour3h'));

        chart.draw(data, options);
      }
        
    
    </script>
    
<footer><br>
    WOLD Enterprises
</footer>    
</body>


</html>
