body{
    font-size: 20px;
    color: cadetblue;
    font-weight: 700;
}

h1{
    color: cadetblue;
    text-align: center;
    font-size: 150px;
    
}

#userinput{
    width: 45%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    z-index: -1;
    float: left;
}


#userinput ul li{
    list-style-type: none;
    float: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    color: cadetblue;
}


#stationmap{
    height: 480px;
    width: 600px;
    margin: auto;
/*    margin-top: 50px;*/
    
}


/*Classes etc. adapted from http://www.w3schools.com/howto/howto_css_dropdown.asp*/
.dropbtn {
    background-color: cadetblue;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: cadetblue;
    border: 1px solid cadetblue;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    height: 50px;
}
