body{
    font-size: 20px;
    color: cadetblue;
    font-weight: 700;
}

header{
    color: cadetblue;
    text-align: center;
    text-shadow: 2px 2px 8px white;
    height: 380px;
    font-size: 150px;
    margin-bottom: 20px;
    margin-bottom: 40px;
    background-image: url(dsc_3050m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

#userinput{
    width: 45%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    z-index: -1;
    float: left;
}


#userinput ul li{
    list-style-type: none;
    float: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    color: cadetblue;
}


#stationmap{
    height: 480px;
    width: 600px;
    margin: auto;
/*    margin-top: 50px;*/
    
}


/*Classes etc. adapted from http://www.w3schools.com/howto/howto_css_dropdown.asp*/
.dropbtn {
    background-color: cadetblue;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: cadetblue;
    border: 1px solid cadetblue;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



.slider-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.slider-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.slider-toggle-circle + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.slider-toggle-circle + label:before,
input.slider-toggle-circle + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.slider-toggle-circle + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.slider-toggle-circle + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}

input.slider-toggle-circle:checked + label {
  background-color: dodgerblue;
}

input.slider-toggle-circle:checked + label:after {
  margin-left: 60px;
  background-color: dodgerblue;
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    height: 50px;
}
