body{
    font-size: 20px;
    color: cadetblue;
    font-weight: 700;
    background: url(Coca-Cola-Zero-dublinbikes-Launch-270614-40-1024x630.jpg) center center fixed no-repeat;
    background-size: cover;
}

header{
    color: cadetblue;
    text-align: center;
    text-shadow: 2px 2px 8px white;
    height: 280px;
    font-size: 150px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;   
}

#userinput{
/*div containing the user input form*/
    width: 70%;
    height: 130px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 60px;
}


#userinput ul li{
    list-style-type: none;
    float: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    color: cadetblue;
}


#stationmap{
/*div containing the Google map*/
    height: 580px;
    width: 75%;
    margin: auto; 
}


/*Styling for the iOS-style slider button adapted from http://callmenick.com/post/css-toggle-switch-examples*/

.slider-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.slider-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.slider-toggle-circle + label {
  padding: 2px;
  width: 120px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.slider-toggle-circle + label:before,
input.slider-toggle-circle + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.slider-toggle-circle + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}

input.slider-toggle-circle + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}

input.slider-toggle-circle:checked + label {
  background-color: dodgerblue;
}

input.slider-toggle-circle:checked + label:after {
  margin-left: 60px;
  background-color: dodgerblue;
}


/*GRAPH SECTION*/

#wrapper{
    /*div which contains the print-out of name and occupancy levels of a station*/
    background-color: rgba(255,255,255,0.0);
    padding: 30px;
    margin-top: 30px;
    border-radius: 40px;
}

#text-box{
/*contains name and availability at selected stations*/
    text-align: center;
    margin-top: 30px;
    width: 70%;
    color: black;
    text-shadow: 2px 2px 8px cadetblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#text-box h3{
    font-size: 30px;
}

#curve_chart{
/*weekly overview graph*/
    width:45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#curve_chart_hour{
/*hourly overview graph*/
    width: 45%;
    float: right;
}

#curve_chart_hour3h{
/*3hour overview graph*/
    width: 45%;
}


footer{
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px white;
    color: cadetblue;
    height: 70px;
    font-size: 30px;
}
